<main>
    <img src="../../../assets/img/libros.jpg" class="img-fluid" style="position: absolute; right: 0; top: 0; z-index: -100; opacity: 0.75;">
    <div>
        <h1>Una colección que te cautivará</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Accusantium, repellat. Quaerat laborum pariatur odio soluta iusto. 
            Vel earum perspiciatis beatae assumenda eligendi delectus ipsam eaque praesentium nisi tenetur, 
            voluptates voluptatum?
        </p>
    </div>
</main>
